.. title: About Ninja OS
.. slug: about
.. date: 2020-06-25 16:06:01 UTC-04:00
.. tags: 
.. category: 
.. link: 
.. description: Overview of the Ninja OS Project
.. type: html

<img src="/images/concept_art.png">
<br>
Ninja OS was a LiveUSB stick based on Arch Linux.

</p>

<H1>Overview</H1>
<p>This project is currently inactive. Active dates: 2010-2022</p>
<p>
Ninja OS was a USB Stick based LiveOS based on Arch Linux and XFCE4. It is/was
compiled with Larch(Live Arch) utility for makeing LiveCDs. While we have some
privacy, and some security tools, we bill ourselves as a "break glass" OS. The
one OS to keep in your pocket that should fix most problems. A Swiss Army boot
knife.
</p>
<p>
We now only ship 64-bit versions only as Arch has discontinued i686 upstream,
and Archlinux32 is not up to the same standard of build and not in sync with
upstream.
</p>
<H3>License</H3>
<p>
Ninja OS is licensed under the <A HREF="http://gplv3.fsf.org/">GPLv3</a>.<br>
<A HREF="/GPLv3.txt">Full Text Here</a>
</p>

<H1>Featured Software</H1>
<b>Base:</b> Arch Linux + X11 + XFCE4.<BR>
<b>Text editors:</b> vi, nano, mousepad<br>
<b>Internet:</b> Firefox, Sylpheed(email), Pidgin, Hexchat, gFTP, Transmission<br>
<b>Media:</b> Parole, Ristretto, Audacity, PiTiVi, GIMP, Transmageddon,
Sound Converter, SOX, DeevedeNG, AcidRip, Asunder, lots more<br>
<b>Office:</b> AbiWord, Gnumeric, xpdf, Galculator, more</br>
<b>Privacy:</b>: TOR, I2P, Privoxy, torsocks, GNUPG with GPA front end,
GPG-Crypter, more...<br>
<b>NetSec:</b> The usual ones :)<br>
<b>Disk Encryption:</b> Zulucrypt, which does both Truecrypt, Veracrypt, LUKS,
all with a reasonable GUI, that supports keyfiles, yubikeys, passwords, and most
of the features of TC/VC like hidden paritions and all the various encryption
ciphers.
<b>Ninja Tools:</b> Zeroize, Clone and Forge, lots of controls and custom scripts</n>


<H1>Philosphy</H1>
<p>
We aim to be a complete desktop enviroment that runs off a USB Stick. We chose
Lightweight to Medium weight utilities and aim to run on the humblest low end
machine from several years ago, to the latest and greatest high-power rigs and
all in between. Universal compability with found hardware. We are aware this
does come with caveats and limitations, many we are fine with. We only ship a
64-bit version because upstream Arch dropped their i686 builds. We previously
had released both i686 and X86_64 images of Ninja OS. We still maintain an i686
repository, but there will be no future i686 releases.
</p>
<p>
We ship a full suite of Media tools, as well as privacy, and information/network
security tools. While not exhaustive, we go for the most often used, familiar
ones, while keeping in mind space and resouce constraints.
</p>
<p>
While using lightweight tools we aim to ship and integrate tools to open and
edit as many types of common files as possible. This gives the completeness
and "just works" impression to users.
</p>
<p>
Ninja OS ships as an ext4 image, and a MBR Bootloader as well as forge script
for installing. Because Ninja OS is only a parition image, not a full disk image
. you are free to use the rest of the stick for other data. This can be very
useful as second partition can be used to save persistant data. This way, you
only take up one USB stick and do not lose whatever you saved.
</p>
