.. title: Ninja OS is Officially Discontinued
.. slug: ninja-os-is-officially-discontinued
.. date: 2022-09-12 12:30:16 UTC-04:00
.. tags: updates meta
.. category: 
.. link: 
.. description: There will be no more releases of Ninja OS
.. type: html

<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Ninja OS is officially being discontinued. This is a personal decision, and
while I won't say marks the end of an era, has to due with eras being ended.
Development releated to releasing new versions will cease, and the crypto-currency
donation links have been removed.(we recieved precisely zero donations over the 
years).

HOWEVER, the Arch Linux repos for [ninjaos] and [ninjaos-kernel] will continue
to be maintained.

This website, archives, repos, will continue to be maintained, and continue to
be made available under the same GPLv3 license that has existed since the
beginning. There simply put: won't be new versions.

Everything is being kept in place, and if anyone wants to fork and keep going,
by all means are welcome.

There are a few reasons for this:

First, the toolchain has bitrot to the point of unusability some time ago. Larch
lacking systemd hooks is an annoyance, but being based on python2 and qt4, two
pieces of unsupported software, as well as no uEFI support. It was also a mess.
I would need to re-write from scratch mostly.

Second, no uEFI support. Computers are starting to ship without BIOS or CSM for
booting BIOS expecting OSes. Most computers make it harder and harder to boot
a USB stick. Making a dual BIOS/uEFI USB stick with a boot menu will take work.

Third, I haven't used Ninja OS for anything other than testing the software for
many years. Its clear that Live OSes are not the be all for privacy anymore as
some amazing work in virtualization and containers has been done in the meantime
Much of the role of the LiveOS is now done by VMs.

Last, The amount of contributions to Ninja OS has been low. We've recieved
exactly ONE bug report. Other contributions have been limited to artistic and
a few procedural checks on software. In addition to the tooling re-write, we
have precisely no support, and no interest in helping develop it. I have other
things in my life besides throwing more time and energy at this, and I feel its
exceedingly diminished returns.

Ninja OS [ 2010 -> 2022 ]
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYx9mHQAKCRDGHsaBoUiv
UWR0AQDA1x4tdYOO2dHeZ0bYte12J0yBXw8PIYgUG/zUQVCtgQD8CQCoECxb5K+9
lXPzv+wBNxU1t2dgBp47Bm5/w6phugI=
=BU7u
-----END PGP SIGNATURE-----

</pre></code>
