.. title: MAT1 is being retired from the Arch Repo
.. slug: mat1-is-being-retired-from-the-arch-repo
.. date: 2020-12-27 10:19:56 UTC-05:00
.. tags: 
.. category: 
.. link: 
.. description: 
.. type: html

<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

MAT(Metadata Anonymization Tool) Version 1 is finally being retired from the
[ninjaos] Arch Linux repository along with its remaining python2 depedencies.
This program was maintained FAR longer than it really should have been, but
was kept in production because there was NO *suitible replacement for the GUI.
Suitable? Yes, its amazing that some people actually consider usability a show
stopping feature on GNU Plus Linux, but I am one of them. The workflow of MAT1
was very fast. Drag, Drop, Action button, and then click the X. bam. Version 2
released as a fork MAT2, was CLI only as their favorite python widgets had no
py3 fork. For whatever reason, this was not deemed essential, and replaced by
a KDE dolphin shortcut, because people actually use KDE or Dolphin.

Now supported in [ninjaos], and will be in future releases is the package
"metadata-cleaner", a 3rd party frontend for MAT2 written in python3 with gtk3
It is recommended anyone using this repo on an Arch system switch to this new
package. It supports most of the features of MAT with some new ones, and is
rather usable.

As per policy, Ninja OS will be sunsetting python2 as soon as possibe. All
packages that depend on python2 that aren't immediately nesseccary will be
dropped from the [ninjaos] repo. All upstream(as in Arch Linux) packages that
depend on python2 that aren't strictly vital will be uninstalled. Search will
begin for replacement applications that use python2 and if they aren't ported,
will be replaced with modern programs of similar function.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCX+jb9gAKCRDGHsaBoUiv
UQWeAQDDyAOgrMH9haHxkMFBHWpajFzspSg5ShLu2Nc3mob8bAEAz5g+oPRZaHBw
QDv7bIVefIyrZfmm6pkErbP+UVsQwQQ=
=newH
-----END PGP SIGNATURE-----
</pre></code>
