<H1>¡OFFICIAL RELEASE - Version 0.12.2!</H1>
<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Release: Version 0.12.2

See Downloads page

EMERGENCY BUGFIX.

A bug made it into the release of  version 0.12.1 that we deemed serious enough
to issue a recall. Zeroize conflicts with drive watcher causing a panic when
SD/Zeroize is run. It is recommended you update IMMEDIATELY if running 0.12.1

Updates from 0.12.0:

This is a minor release. Mostly version bumps, but some notable features.

1. New Kernel. based on 5.4 added -hardened patch set from Arch. This provides
ability to lock USB ports with kernel parameter as well.

1a. Self Destruct now forbids new USB connections
1b. Lockscreen now locks USB ports, previous lockstate restored upon unlock
1c. usbctl tool, and menu item for controlling USB lock state

2. CDN - Downloads and projects are now sourced from the CDN. Should provide
a bigger

3. slock patched with bgimage set for using a image file for the lockscreen
background. Will be used as camoflauge in future versions.

4. Version bumps

5. Minor tweaks

6. Some work on Ninja EWS/IDS

7. Fixed Zeroize/drive watch bug in 0.12.1
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCXyBbugAKCRDGHsaBoUiv
UfogAQCX/BfjTwDqDN7DHkneTIvhsOG+Rlmd5L0CT95+KkImPwEAn13fushbr1i1
+ZOvJmNf2IP7sjpc6cPb1tgg6jnMXAw=
=yb5n
-----END PGP SIGNATURE-----
</pre></code>

<H1>¡OFFICIAL RELEASE - Version 0.12.2!</H1>
