<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Since the Beginning, we understood the value of media tools on the desktop.
We strive our best to have a relatively "complete" as set of tools for viewing
and editing media, even if we do prefer lightweight tools over the heavyweight
large project tools. For Audio, Video, and Still Pictures, we present tools
to both view and edit as many formats as reasonably possibly under linux.

To this end, today we re-shuffle some of our installed media packages. Up until
now, darkice and darksnow where explicitly supported for streaming to icecast
or shoutcast servers, while idjc was supported in the repo. While this might
have made sense in 2010 terms, its not only anarchronistic, but it reflects a 
reality that never truely existed: the popularity of icecast/shoutcast servers.

Its also jarring as darkice/snow doesn't have complete Pulse Audio support and
is still based largely around ALSA/OSS with pulse as an afterthought.

It is video, not audio streaming that is central to culture now. Darksnow and
Darkice will continue to be supported in the repo, but are no longer default
installs. OBS studio is now a thing we are looking at as a secondary target,
and is being considered for default install. StreamFX and Websocket plugins
are now in the repo.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCX9J8WwAKCRDGHsaBoUiv
UZPOAQCdQsPDFreGQ6RzRKEf3UupnXvPWk5EuEF/9NXt6n9wigD/bSqF4Wc3M2H2
9y7n/aG/+xmFt0J/t7jm0DQd44y5SgY=
=Fn8N
-----END PGP SIGNATURE-----
</pre></code>
