<H1>Hello World!</H1>
<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

After leaving the Ninja OS site in a depreciated emergency mess after our
previous site was pulled by the ISP, we have, at long last, made a new site.
Staticly Generated in Nikola, This should allow for easy updates.

You can now check back here for updates regarding Ninja OS developement and
release announcements.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCXvUlCwAKCRDGHsaBoUiv
URGFAP9x9HH9t8kq5E5fgQl719e0j722clkTnjvBk2kH3eesUQEA2tG97yRBvinz
4OaR472jFQqDsz7KCHIsE5LR8uFbcAQ=
=JkBz
-----END PGP SIGNATURE-----
</pre></code>
