<p>Its a long time comming, but we are discontinuing the last of i686 support,
effectively immediately. i686 has been discontinued from upstream Arch Linux for
some time, and we have been following the Archlinux32 project. The last two
releases did not see an i686 release as the quality would be signifigantly less
and some major packages like firefox-esr do not build at all. A direct port is
no longer possible. a proper fork would require a lot of effort, for very little
gain.</p>
<p>In addition there are errors like Archlinx32 not fully repackaging their perl
packages for new versions, tripping errors. Many upstream repos and projects do
NOT test for 32 bit x86 on linux anymore.</p>
<p>More and more PKGBUILDs start to fail.</p>
<p>Today, we hit OOM errors attempting to build packages, even with enough swap
space installed, and the memory limit of the arch kernel with 4GB of ram is not
enough to maintain this repo. To rememedy this, we would need to maintain a
seperate kernel with PAE enabled, just for the build environment. While
configuring a kernel is trivial, maintaining one is not. Especially when you
maintain a seperate kernel for production.</p>
<p>All for less and less people actually using this obsolete archecture. We feel
that 64-bit PC penetration is sufficient to make the change.</p>
<p>In the future, if Archlinux32 improves and we are able to make a full compile,
we MIGHT, repeat MIGHT release a pentium4 fork. Pentium4 has the added benefit
of SSE2 instructions, that might make this feasible to run on more modern 32-bit
machines.</p>
