<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

After a long time, darkice frontend "darksnow" is being replaced with the
package "butt" in the [ninjaos] Arch Linux repository. "darksnow" is being
removed entirely, and if you have this package installed it is recommended to

pacman -Rs darksnow

pacman -Syu butt

Butt stands for "Broadcast Using This Tool", has support for icecast and
shoutcast, and pulse audio. The GUI itself is superior and still maintained, and
is all around supperior to Darksnow. The "darkice" package will linger in the
[ninjaos] repository for now.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYP7oBwAKCRDGHsaBoUiv
UWaVAP9wGRYwx6G8p4DejruS1xt5kC4t/Y4DYrPhK54y8A0XjwEAl/jyBIetoF8r
+qt05KQL/TuX5rrZMyMjF7FOFIQb5gE=
=emBz
-----END PGP SIGNATURE-----
</pre></code>
