<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

After a lot of thinking, We've come to the conclusion that having aufs as a
seperate package gained absolutely nothing, so we merged it into the main 
kernel package. Configuration of this module is now in our kernel config. We
feel that since aufs will ALWAYS be in use with Ninja OS, this will make testing
development, and maintenance easier as there is now one less package, especially
one that needs to be recompiled every kernel update anyway. 

Also in this kernel, we discovered there is a Kconfig option for XATTRs, or
extended attributes if underlying filesystems support them. both squashfs and
tmpfs do, and future versions of Ninja OS should be able to use POSIX
capablities for networking tools like ordinary OSes.

New version will hit [ninjaos-kernel] shortly. After upgrade you should pacman
- -Rs aufs, as this is just the kernel object for
. PKGBUILD will be kept
around in git for a short time for posterity.

Version is also now centered around 5.10, and will continue to be adjusted
against newer longterm kernels. As always this the -ninja kernel is lts, with
- -hardened, and aufs patches, and kernel interrupt timer set at 1000hz
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYJ6HVgAKCRDGHsaBoUiv
URgSAQCxf+zHk9NU06EiRt9sUz8w4xW2P9Y8ogHDZgYXBYQY0gEA9Nf2/mhF5e+3
+jaqSBIhO2lUQ0MXeTgPAJDIQ8rvOg8=
=Qei5
-----END PGP SIGNATURE-----
</pre></code>
