<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Update: https has been successfully restored. No further outages are planned
in the foreseable future. Everything should now function normally
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYjTwSQAKCRDGHsaBoUiv
UXqFAP4wjFvR4/D5EUtBck4B1Bkf0PyWSBcWdyV3PqLFwXOJUQD/aMMbDqF8Ftcs
SEB1PsW6Y+75DM3zSm/CTlyzn+KUxQk=
=ZrL1
-----END PGP SIGNATURE-----
</pre></code>
