<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

We are upgrading our infrastructure, and the front facing webserver has a
a new IP address. The DNS must propigate for before we can renew TLS certs.
ninjaos.org will be http-only until then, should be about a day. HTTPS will be
restored as soon as possible.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYjPXBQAKCRDGHsaBoUiv
UX1AAQCr5UyjiCpZsd1vmil3jZqNnWCm0QFzxkNnS1qV/VwIJwD8CM/qfQXjwUXE
2dLsdye+5mP89DKlV8HLggpCSwG2mw4=
=yhEV
-----END PGP SIGNATURE-----
</pre></code>
