.. title: [ninjaos] repo update. metadata-cleaner now has 1.x fork
.. slug: ninjaos-repo-update-metadata-cleaner-now-has-1x-fork
.. date: 2021-12-10 20:17:58 UTC-05:00
.. tags: repo updates
.. category: 
.. link: 
.. description:  
.. type: html

<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

In this latest version bump of the [ninjaos] repo, we've forked the
metadata-cleaner package off into metadata-cleaner1 that follows the 1.x branch
that depends on gtk3. The mainline package following 2.x that depends on gtk4
will continue to be available as well.

This is pending this issue:
https://gitlab.com/rmnvgr/metadata-cleaner/-/issues/18

where upstream gtk4 doesn't handle drag and drop correctly anymore. While this
is planning on being fixed, in the meantime, we are just going to support
version 1.x until this feature lands

Also of note, log4j is in fact in the repo, and this latest update fixes
the vulerable version.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYbP9dQAKCRDGHsaBoUiv
UTxhAP4xI1oabXDowMeZFGzxRVocgBRle4ZMhrJ6cyhmOxnfxAD/bBNYn9Ru2oMq
XISN/cS2xMcvJrMAg/BkxBUYGiKtQgM=
=eb1c
-----END PGP SIGNATURE-----

</pre></code>
