<link rel="stylesheet" type="text/css" href="/ninja_web.css">

<H1>Release Images</H1>
<p>
Current Version is 0.12.2. Downloads are torrents with an https source. Please
use the torrent to ensure availability, uptime, and share bandwith on an otherwise
free as in beer software
</p>
<table border=1 name="downloadtable">
  <tr><th>Version</th><th>Torrent Sig</th><th>Zipfile Sig</th></tr>
  <tr>
    <td>
      <a href="https://cdn.downloads.ninjaos.org/ninjaos-x86_64-0.12.2.liveos.zip.torrent">Ninja OS 0.12.2 64-bit</a>
    </td>
    <td>
      <a href="https://cdn.downloads.ninjaos.org/ninjaos-x86_64-0.12.2.liveos.zip.torrent.sig">Torrent Sig</a>
    </td>
    <td>
      <a href="https://cdn.downloads.ninjaos.org/ninjaos-x86_64-0.12.2.liveos.zip.sig">Zipfile Sig</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://cdn.downloads.ninjaos.org/ninjaos-i686-0.11.5.liveos.zip.torrent">Ninja OS 0.11.5 32-bit</a>
    </td>
    <td>
      <a href="https://cdn.downloads.ninjaos.org/ninjaos-i686-0.11.5.liveos.zip.torrent.sig">Torrent Sig</a>
    </td>
    <td>
      <a href="https://cdn.downloads.ninjaos.org/ninjaos-i686-0.11.5.liveos.zip.sig">Zipfile Sig</a>
    </td>
  </tr>
</table>

<H1>Official Accounts</H1>
<p>
Official Ninja OS Accounts. We have our sourcecode on Gitlab, and we put our
torrents on the pirate bay. When we re-recreate out TOR .onion, it will be here.
</p>
<table name=linkstable>
  <tr>
    <td>Official Gitlab</td>
    <td><a href="https://gitlab.com/users/ninjaos/projects">https://gitlab.com/users/ninjaos/projects</a></td>
  </tr>
  <tr>
    <td>Official Pirate Bay</td>
    <td><a href="https://thepiratebay.org/user/devninja/">https://thepiratebay.org/user/devninja/</a></td>
  </tr>
  <tr>
    <td>Official Source Forge</td>
    <td><a href="https://sourceforge.net/projects/ninjaos">https://sourceforge.net/projects/ninjaos</a></td>
  </tr>
  <tr>
    <td>Official IRC</td>
    <td><a href="ircs:://irc.libera.chat:6697/#ninjaos">#NinjaOS on Libera.chat</a></td>
  </tr>
</table>

<H1>ArchLinux repo</H1>
<p>
Ninja OS maintains its own Arch Linux repo with extra packages. Supported are
i686 and x86_64 archecture. Please note not all packages are available in i686
due to constraints of Archlinux32, and upstream depreciation of this Archecture.
</p>
<p>
To add this repo to a machine already running Arch Linux:
</p>
<p>
  1. Bootstrap the GPG key with: <code>pacman-key</code><br>
  <pre><code>pacman-key -r C65B1F383A46C38A3D3CFDF9C61EC681A148AF51
pacman-key --lsign-key C65B1F383A46C38A3D3CFDF9C61EC681A148AF51</code></pre>
</p>
<p>
  2. Add this to bottom of your /etc/pacman.conf
  <pre><code>[ninjaos]
Server=https://ninjaos.org/repo/ninjaos/os/$arch
  </pre></code>
  3. install the keyring:<br>
  <pre><code>pacman -Sy ninjaos-keyring</code></pre>
</p>

<p>
<H2>Kernel Repo</H2>
We have a seperate repo for the kernel
<pre><code>
[ninjaos-kernel]
Server=https://ninjaos.org/ninjaos-kernel/$arch
</pre></code>
</p>
