.. title: GPG Keys
.. slug: gpg
.. date: 2020-06-25 17:53:16 UTC-04:00
.. tags: 
.. category: 
.. link: 
.. description: GnuPG keys used to sign releases, packages and messages
.. type: html

<p>
These are the official Ninja OS keys. The newer December 2017 ED25519 key will
be used for all new signing. The RSA4096 is is for legacy communications and
releases. Everything on this new site or 0.12.0 or later will use the new key

The headkey is used to sign all the other keys, and that is its only function.
Do not accept headkey signatures on anything but other keys, and accept no keys
that haven't been signed with the head key.
</p>
<table border=1 name="gpg_table">
  <tr><th>Name</th><th>Date</th><th>type</th><th>Key ID</th><th>Fingerprint - Download</th></tr>
  <tr>
    <td>Ninja OS - Head Key</td>
    <td>24 August 2021</td>
    <td>ED25519</td>
    <td>5781821D</td>
    <td><a href="https://cdn.downloads.ninjaos.org/ninjaos_head_pubkey.gpg">82B6 CEC8 4791 E63B 5A60 4BBC E24C 4ABF 5781 821D</a></td>
  </tr>
  <tr>
  <td>Dev Ninja</td>
    <td>12 December 2017</td>
    <td>ED25519</td>
    <td>A148AF51</td>
    <td><a href="https://cdn.downloads.ninjaos.org/new_ninjaos_pubkey.gpg">C65B 1F38 3A46 C38A 3D3C FDF9 C61E C681 A148 AF51</a></td>
  </tr>
  <tr>
    <td>Dev Ninja - Legacy</td>
    <td>6 September 2012</td>
    <td>RSA-4096</td>
    <td>A1F8331E</td>
    <td><a href="https://cdn.downloads.ninjaos.org/ninja_os_public_key.gpg">D5E7 6841 665A 4408 D73C 2D87 96FD 6113 A1F8 331E</a></td>
  </tr>
</table>
