.. title: Sub-Projects
.. slug: sub-projects
.. date: 2020-06-25 22:57:40 UTC-04:00
.. tags: 
.. category: 
.. link: 
.. description: Sub-componants of Ninja OS big enough they became their own projects
.. type: html

<H1>Ninja OS Projects</H1>
These are subprojects for Ninja OS split off into seperate projects that can be
ported for use outside of Ninja OS.

<dl name=index>
  <dt><h3>List of Projects</h3></dt>
  <dd>[+] <a href=#nban>Ninja Boot'n'Nuke</a></dd>
  <dd>[+] <a href=#kernel>Ninja OS Kernel</a></dd>
  <dd>[+] <a href=#larch>Larch(Live Arch) Tool</a></dd>
  <dd>[+] <a href=#forge>Live OS Forge</a></dd>
</dl>

<H2 id=nban>Ninja Boot'n'Nuke</H2>
<p>
End of life computer santiation tool written as an Arch Linux initcpio script.
A small dash script and a few utilities that go through each drive and fill them
with zeros. Alternatively, new versions also test for SSD discard support, and
will use that instead. This is accomplished with an Arch Linux initcpio script.
</p>

<H3>Links</H3>
<table name=nban_downloads cellspacing=5 cellpadding=5>
  <tr>
    <td>Download</td>
    <td><a href="https://cdn.projects.ninjaos.org/ninjaos-bootandnuke-2.0.tar.gz">NBAN 2.0</a></td>
    <td><a href="https://cdn.projects.ninjaos.org/ninjaos-bootandnuke-2.0.tar.gz.sig">.sig</a> </td>
  </tr>
  <tr>
    <td>Gitlab Project</td>
    <td colspan=3><a href="https://gitlab.com/ninjaos/ninja-bootandnuke">https://gitlab.com/ninjaos/ninja-bootandnuke</a></td>
  </tr>
</table>
<H3>Usage</H3>
<p>
Install using the Arch Package. Afterwards you can compile a Boot'n'Nuke image
with:
<pre><code>mkinitcpio -p nban</pre></code>
Next, set replace <code>initramfs-linux.img</code>, in the <code>INITRD</code>
line for your bootloader with <code>nban.img</code>. Now reboot. The script will
wipe all attached storage media, including hard disks and flash drives. see
<code>man nban</code> for more information.
<br>
If expecting to do this, it might we wise to set up NBAN as its own labeled menu
entry to avoid accidentally triggering it.
</p>
<H3>Shurikens</H3>
<p>
Shurikens are single use Ninja Boot'n'Nuke USB sticks. They combine the nban
image, with a syslinux bootloader. There is no full OS on these sticks. They can
be made and used on any machine that will boot MBR bios. They are not smart
enough to recognize themselves and will overwrite themselves along with any
other attached drives.
</p>
<p>
</b>USAGE:</b><br>
<code><pre>shuriken_forge /dev/sdX</code></pre>
Where /dev/sdX is replaced with the block device of a flash drive. See <code>man
shuriken_forge</code> for more information.
</p>

<H2 id=kernel>Ninja OS Kernel</H2>
<table name=kernel_downloads cellspacing=5 cellpadding=5>
  <tr>
  <td>GitLab Project</td>
  <td><a href="https://gitlab.com/ninjaos/arch-pkgbuild/-/tree/master/linux-ninja">
         https://gitlab.com/ninjaos/arch-pkgbuild/-/tree/master/linux-ninja</a></td>
  </tr>
</table>
<p>
For Ninja OS, we roll our own custom kernel with modifications from the stock
-arch kernel.
<ul type="none">
  <li>[+] LTS - follows <i>longterm</i> kernel. Generally latest</li>
  <li>[+] -hardened patchset. Applies patches from -hardened Arch Kernel</li>
  <li>[+] AUFS(Another Union File System) - Applies AUFS patches needed for live
          system</li>
  <li>[+] 1000hz Kernel Timer - better timer resolution for media handling</li>
</ul>
</p>

<H2 id=larch>Larch(Live Arch)</H2>
<p>
Larch was a Live OS constructor kit for making LiveCD/LiveOS based on Arch Linux
. It was abandoned long ago in 2012, and has since been maintained soley by the
Ninja OS team which depends on it. As Berlios.de, the original host of the larch
project has gone under, the last known copy is hosted here, along with a few
tweaks to keep it working with modern day Arch Linux.
<table name=larch_section cellspacing=5 cellpadding=5>
  <tr>
  <td>GitLab Project</td>
  <td><a href="https://gitlab.com/ninjaos/larch">https://gitlab.com/ninjaos/larch</a></td>
  </tr>
</table>
</p>

<H2 id=forge>Live OS Forge</H2>
<p>
Multi-OS GUI USB stick Forge util. NinjaForge-NG. Flash NinjaOS to USB stick.
Next Generation Tool, designed with GUI and multi-OS support. Work in Progress
<br>
When completed this will be the "easy way" of installing Ninja OS to a
USB stick.
<table name=liveos_forge_section cellspacing=5 cellpadding=5>
  <tr>
  <td>GitLab Project</td>
  <td><a href="https://gitlab.com/ninjaos/ninjaforge-ng">https://gitlab.com/ninjaos/ninjaforge-ng</a></td>
  </tr>
</table>
</p>

