.. title: Adding cross compile tools and updates
.. slug: adding-cross-compile-tools
.. date: 2020-07-31 17:39:05 UTC-04:00
.. tags: 
.. category: 
.. link: 
.. description:
.. type: html

<p>
We are adding some cross compile tools to the <code>[ninjaos]</code> repository.
<code>apple-darwin-osxcross</code> for compiling darwin/OSX binaries, and <code>
mingw-w64</code> gcc toolchain for compiling Windows binaries.
</p>
<p>
These will definately be available for x86_64, but we are having trouble with
i686. Issues like this are the reason we no longer support i686. Archlinux32 is
not supported as well as Arch Linux propper. It is also considerably(weeks)
behind upstream, as in that its not possible to match patch levels.
</p>
<p>
We cannot maintain i686 forever. It is starting to get a little long in the
tooth
</p>
