.. title: 0.12.1 Release
.. slug: 0121-release
.. date: 2020-07-25 22:04:56 UTC-04:00
.. tags: release
.. category: 
.. link: 
.. description: New Version of Ninja OS being Released: 0.12.1
.. type: html

<H1>¡OFFICIAL RELEASE - Version 0.12.1!</H1>
<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Release: Version 0.12.1

See Downloads page

This is a minor release. Mostly version bumps, but some notable features.

1. New Kernel. based on 5.4 added -hardened patch set from Arch. This provides
ability to lock USB ports with kernel parameter as well.

1a. Self Destruct now forbids new USB connections
1b. Lockscreen now locks USB ports, previous lockstate restored upon unlock
1c. usbctl tool, and menu item for controlling USB lock state

2. CDN - Downloads and projects are now sourced from the CDN. Should provide
a bigger

3. slock patched with bgimage set for using a image file for the lockscreen
background. Will be used as camoflauge in future versions.

4. Version bumps

5. Minor tweaks

6. Some work on Ninja EWS/IDS
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCXxzmDgAKCRDGHsaBoUiv
USm7AQDAqmjQCFzftJ6ghQB9QzhNWGbA1wOEgS+28g8E0hxnfgEAyz+pE7pW3pV8
X5w3tAhei0NQ0N1Rb0iMXDSaqC1i2gU=
=htet
-----END PGP SIGNATURE-----
</pre></code>

<H1>¡OFFICIAL RELEASE - Version 0.12.1!</H1>
