.. title: CHIRP, Ham Programming Tool Being Dropped From [ninjaos]
.. slug: chirp-ham-programmer-being-dropped-from-ninjaos
.. date: 2021-05-14 09:41:06 UTC-04:00
.. tags: ninjaos repo arch linux
.. category: arch-repo
.. link: 
.. description: Rant about CHIRP software and why its being dropped.
.. type: html

<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

The chirp-daily package is getting yeeted off [ninjaos] repository. Unforunately
there is nothing to replace it with, and this is unfortunate, as it is a rather
useful piece of software for sync'ing baofeng and other small portable ham
radios to the computer, editing settings and storing settings/frequencies on the
computer for later use.

CHIRP is written in python2, which as you know was finally EOL'd back in January
2020. The announcement to EOL it was made in 2010, and its original EOL date of
January 2015 was pushed back 5 years to give programmers time to port. Python3
was released originally in 2006. It is now 2021, 6 years after the original EOL
date for python, and a full 11 years after the announcement was made.

As such, upstream Arch has been removing unused python2 dependencies and slowly
depreciating removing python2 support. We have been actively seeking
replacements for all python2 software in use with the [ninjaos] repo and by
Ninja OS itself. Our policy being: If its not essential, it gets removed.

The final straw for CHIRP was that its two py2 dependencies python2-lxml, and
python2-pyserial have been dropped by upstream Arch Linux. to maintain them,
we'd have to pull an increasing amount of python2 packages previously been
purged, and pull in more packages we'd need to support.

When CHIRP gets ported to python3 it will be added back. We apologize for the
inconvience.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYJ6G0wAKCRDGHsaBoUiv
UV65AP9akp4C4F6F6EpAn7koKxL8qOHb7EKVfepiQSpUDGbCNwEAq3nDu6IQeZN7
wC9NLtdH+rU6sOf2hB2wgTAe8CZPrAE=
=I+I5
-----END PGP SIGNATURE-----
</pre></code>
