.. title: AMD ROCM now supported in [ninjaos]
.. slug: amd-rocm-now-supported-in-ninjaos
.. date: 2021-08-03 13:47:50 UTC-04:00
.. tags: compute amd rocm opensource
.. category: 
.. link: 
.. description: AMD's Free Compute Stack is now supported in the official Archlinux repo
.. type: html

<pre><code>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

As of today, we are chosing to support the Raedeon Open Compute Module. I am
uncertain why this is unsupported upstream in ArchLinux, but I suspect quality
might have something to do with it. However, after some basic testing, it
appears to compile and run. What this means is there is an entire Free Open
Source GPGPU solution that includes an OpenCL solution, and allows you to use
AMDGPU compatible graphics cards for general compute purposes.

Also supported are the llvm-amdgpu and rocm-cmake for compiling things against
ROCm, as well as the OpenCL runtime.
-----BEGIN PGP SIGNATURE-----

iHUEARYIAB0WIQTGWx84OkbDij08/fnGHsaBoUivUQUCYQmE7AAKCRDGHsaBoUiv
UdmMAP43/TGUh49RSf7XrGEmjs9XmObjHxHak2aYP513DJE2DAD/TlFhfXqSwBXf
818sAeJk1cP67D56S8KgiBufztMFfgw=
=svB7
-----END PGP SIGNATURE-----
</pre></code>

